<% provide(:title, 'Inicio') %>

<div class="view bg-syf-blue">
  <div class="home-logo-container d-flex flex-column justify-content-center align-items-center">
    <%= image_tag('set_your_future_logo.jpg', alt: 'Set your future logo', id: 'home-logo') %>
    <h1>Set Your Future</h1>
    <h2>Bilingual Memes!</h2>
  </div>

  <div class="home-buttons-container d-flex flex-column align-items-center justify-content-center">
    <a href="/inicia-sesion" class="home-button d-flex justify-content-center align-items-center">
      <span>INICIA SESIÓN</span>
    </a>
    <a href="/registrate" class="home-button d-flex justify-content-center align-items-center">
      <span>REGÍSTRATE</span>
    </a>
  </div>
</div>
